



@model IEnumerable<SwissMoteWebsite.Models.Team>
@using SwissMoteWebsite.Models;







@{ Layout = null;


    ApplicationDbContext db = new ApplicationDbContext();


}




<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Meta setup -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="decription" content="">


    <!-- Title -->
    <title>Welcome</title>

    <!-- Fav Icon -->
    <link rel="icon" href="~/updatev2/images/favicon.ico" />

    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="~/updatev2/css/bootstrap.css" />

    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="~/updatev2/style.css" />

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/updatev2/css/responsive.css" />

</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- main-wrapper start -->
    <main class="main-wrapper">
        <div class="row no-gutters">
            <div class="col-lg-2 main-left-col d-none d-lg-block">
                <div class="main-left-part">
                    <div class="logo">
                        <a href="#">
                            <img src="~/updatev2/images/logo.svg" alt="">
                        </a>
                    </div>
                    <ul>
                        @*<li>
                                <a href="#">
                                    <img src="~/updatev2/images/icon-1.svg" alt="">
                                    Timer
                                </a>
                            </li>*@
                        <li>
                            <a href="/project">
                                <img src="~/updatev2/images/icon-2.svg" alt="">
                                Projects
                            </a>
                        </li>
                        <li>
                            <a href="#" id="active">
                                <img src="~/updatev2/images/icon-3.svg" alt="">
                                Teams
                            </a>
                        </li>
                        @*<li>
                                <a href="#">
                                    <img src="~/updatev2/images/icon-4.svg" alt="">
                                    Tasks
                                </a>
                            </li>*@
                        <li>
                            <a href="#">
                                <img src="~/updatev2/images/icon-5.svg" alt="">
                                Insights
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/updatev2/images/icon-6.svg" alt="">
                                invoices
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/updatev2/images/icon-7.svg" alt="">
                                Settings
                            </a>
                        </li>
                        @*<li>
                                <a href="#">
                                    <img src="~/updatev2/images/icon-8.svg" alt="">
                                    Help
                                </a>
                            </li>*@
                    </ul>
                </div>
            </div>

            <div class="col-lg-10 main-right-col">
                <div class="main-right-part">
                    <div class="header-main header-2">
                        <div class="header-part">
                            <div class="hamburger-button d-lg-none">
                                <button class="hamburger hamburger--squeeze" type="button" data-offcanvas-open="my-navigation">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                            <div class="header-cnt">
                                <h4>Team</h4>
                                <a href="/team/create"><img src="~/updatev2/images/plus.svg" alt=""> New Team</a>
                            </div>
                        </div>
                    </div>
                    <!-- sub-pages start -->
                    <div class="main-content-part">
                        <div class="team-main">
                            <div class="team-table">
                                <table>
                                    <tr>
                                        <th>TEAMS</th>
                                        <th>INSIGHTS</th>
                                        <th>Avg Rate</th>
                                        <th>STATUS</th>
                                        <th>CLIENT</th>
                                        <th></th>
                                    </tr>
                                </table>

                                <div class="team-accordian">
                                    <div class="ziehharmonika">
                                        <h3 class="team-maintbl">
                                            <table>

                                                @{
                                                    List<string> TeamNameList = new List<string>();

                                                    List<(string, double, double, string)> InnerList = new List<(string, double, double, string)>();

                                                }

                                                @foreach (var item in Model)
                                                {

                                                <tr>

                                                    @{
                                                        if (!TeamNameList.Contains(item.TeamName))
                                                        {
                                                            <td>@Html.DisplayFor(modelItem => item.TeamName)</td>


                                                            double avgrate = db.Teams
                                                                .Where(a => a.TeamName == item.TeamName)
                                                                .Select(a => a.MemberHourlyRate).Average();

                                                            double avgraterouted = Math.Round(avgrate, 2, MidpointRounding.AwayFromZero);
                                                            <td>0H</td>
                                                            <td>$@avgraterouted /H</td>
                                                            <td>Active</td>
                                                            <td>@Html.DisplayFor(modelItem => item.ClientName)</td>
                                                            <td>
                                                                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                                                            </td>


                                                            <td>

                                                                <a href="/team/invitemore/@item.TeamId">
                                                                    <img src="@Url.Content("~/Images/invite.png")" alt="invite" data-toggle="tooltip" title="invite" width="20px" height="20px" />
                                                                </a>



                                                                <a href="/team/delete/@item.TeamId">
                                                                    <img src="@Url.Content("~/Images/delete_48px.png")" alt="Delete" data-toggle="tooltip" title="Delete" width="20px" height="20px" />
                                                                </a>


                                                            </td>

                                                        }
                                                    }


                                                    @{
                                                        TeamNameList.Add(item.TeamName);
                                                    }








                                                </tr>
                                                }
                                            </table>
                                        </h3>
                                        <div class="team-innertbl">
                                            <table>

                                                <tr>
                                                    <td>emp1@mail.com</td>
                                                    <td> 0H</td>
                                                    <td>$6.33 /H</td>
                                                    <td><strong>Online</strong></td>
                                                    <td></td>
                                                    <td><a href="#">Contact</a></td>
                                                </tr>


                                            </table>
                                        </div>

                                        @*<h3 class="team-maintbl">
                                                <table>
                                                    <tr>
                                                        <td><h4>Web Developers</h4></td>
                                                        <td>30H</td>
                                                        <td>Cannafacturer</td>
                                                        <td>Actif <span><i class="fas fa-circle"></i></span></td>
                                                        <td>Jack</td>
                                                        <td>
                                                            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </h3>
                                            <div class="team-innertbl">
                                                <table>
                                                    <tr>
                                                        <td>Amar Verma</td>
                                                        <td>15H</td>
                                                        <td>$10/H</td>
                                                        <td><strong>Online</strong></td>
                                                        <td></td>
                                                        <td><a href="#">Contact</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Daniel</td>
                                                        <td>15H</td>
                                                        <td>$10/H</td>
                                                        <td><strong class="offline">Offline</strong></td>
                                                        <td></td>
                                                        <td><a href="#">Contact</a></td>
                                                    </tr>
                                                </table>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sub-pages end -->
                </div>
            </div>
        </div>
    </main>
    <!-- main-wrapper end -->
    <!-- side-bar start -->
    <div id="my-navigation" class="offcanvas d-lg-none">
        <div class="mobile-menu-wrap">
            <div class="main-left-part">
                <div class="logo">
                    <a href="#">
                        <img src="~/updatev2/images/logo.svg" alt="">
                    </a>
                    <i class="close-icon" data-offcanvas-close="my-navigation"></i>
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/updatev2/images/icon-1.svg" alt="">
                            Timer
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/updatev2/images/icon-2.svg" alt="">
                            Projects
                        </a>
                    </li>
                    <li>
                        <a href="#" id="active">
                            <img src="~/updatev2/images/icon-3.svg" alt="">
                            Teams
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/updatev2/images/icon-4.svg" alt="">
                            Tasks
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/updatev2/images/icon-5.svg" alt="">
                            Insights
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/updatev2/images/icon-6.svg" alt="">
                            invoices
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/updatev2/images/icon-7.svg" alt="">
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/updatev2/images/icon-8.svg" alt="">
                            Help
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- side-bar end -->
    <!-- popup-area start -->
    <div class="popup-area">
        <div class="popup-main">
            <div class="popup-left">
                <ul>
                    <li><a class="active" href="#"><img src="~/updatev2/images/designer-1.png" alt=""> <span>Anna</span></a></li>
                    <li><a href="#"><img src="~/updatev2/images/designer-2.png" alt=""> <span>James</span></a></li>
                    <li><a href="#"><img src="~/updatev2/images/designer-3.png" alt=""> <span>Jena</span></a></li>
                    <li><a href="#"><img src="~/updatev2/images/designer-4.png" alt=""> <span>Jake</span></a></li>
                    <li><a href="#"><img src="~/updatev2/images/designer-5.png" alt=""> <span>Gini</span></a></li>
                    <li><a href="#"><img src="~/updatev2/images/designer-6.png" alt=""> <span>Roberts</span></a></li>
                    <li><a href="#"><img src="~/updatev2/images/designer-7.png" alt=""> <span>Emma</span></a></li>
                </ul>
                <div class="pop-down text-center">
                    <a href="#"><i class="fas fa-arrow-down"></i></a>
                </div>
            </div>
            <div class="popup-right">
                <div class="poprit-top">
                    <h4>Anna- Graphic Designers Team</h4>
                    <div class="cross-bar">
                        <button class="mini-mius"><img src="~/updatev2/images/bar.svg" alt=""></button>
                        <button class="cross"><img src="~/updatev2/images/times.svg" alt=""></button>
                    </div>
                </div>
                <div class="chat-box">
                    <div class="chat-right text-right">
                        <p>When wiill be the delivery of the project <img src="~/updatev2/images/designer-8.png" alt=""></p>
                    </div>
                    <div class="chat-left text-left">
                        <img src="~/updatev2/images/designer-1.png" alt="">
                        <p>In about two days</p>
                    </div>
                </div>
                <div class="chat-item">
                    <button class="imoji">
                        <img src="~/updatev2/images/imoji.svg" alt="">
                    </button>
                    <div class="upload-btn-wrapper">
                        <button class="filebtn"><img src="~/updatev2/images/file.svg"></button>
                        <input type="file" name="myfile" />
                    </div>
                    <form class="chat-frm" action="#" method="POST">
                        <input type="text" placeholder="Type your text">
                        <button><img src="~/updatev2/images/send.svg" alt=""></button>
                    </form>
                    <button class="voice">
                        <img src="~/updatev2/images/voice.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- popup-area end -->
    <!-- Main jQuery -->
    <script src="~/updatev2/js/jquery-3.4.1.min.js"></script>

    <!-- Bootstrap Propper jQuery -->
    <script src="~/updatev2/js/popper.js"></script>

    <!-- Bootstrap jQuery -->
    <script src="~/updatev2/js/bootstrap.js"></script>

    <!-- Fontawesome Script -->
    <script src="https://kit.fontawesome.com/7749c9f08a.js"></script>

    <!-- Accordian Script -->
    <script src="~/updatev2/js/ziehharmonika.js"></script>

    <!-- Iptools-offcanvas jQuery -->
    <script src="~/updatev2/js/iptools-offcanvas.js"></script>

    <!-- Custom jQuery -->
    <script src="~/updatev2/js/scripts.js"></script>

</body>
</html>